<style>
    .tlf {
        table-layout:fixed;
    }
    .topbar-txt {
        display: inline-block;
    }
    .headermenuparent{
        width:72%;
        vertical-align:top;
        text-align:left;
        color:white;
    }
    .spaceNowrap{
        vertical-align:top;
        text-align:right;
        color:white;
    }
</style>

<!-- Navbar -->
<a href="../../index3.html" class="navbar-brand">
    <img src="~/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8; height:50px">
    <span class="brand-text font-weight-light">Performance Intelligence System</span>
</a>
<table style="width:100%" class="">
    <tbody>
        <tr>
            <td class="headermenuparent">
                <div class="topbar-txt"><a href="index3.html" class="nav-link">Home</a></div>
                <div class="topbar-txt"><a href="index3.html" class="nav-link">KPI</a></div>
                <div class="topbar-txt"><a href="index3.html" class="nav-link">PSPDRM</a></div>
                <div class="topbar-txt"><a href="index3.html" class="nav-link">Audit</a></div>
                <div class="topbar-txt"><a href="index3.html" class="nav-link">Persempadanan</a></div>
            </td>
            <td class="spaceNowrap">
                <div>
                    <div class="topbar-txt">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    <div class="topbar-txt">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="fas fa-comments"></i>
                            <span class="badge badge-danger navbar-badge">3</span>
                        </a>
                    </div>
                    <div class="topbar-txt">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="far fa-bell"></i>
                            <span class="badge badge-warning navbar-badge">15</span>
                        </a>
                    </div>
                    <div class="topbar-txt">
                        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                            <i class="fas fa-tools"></i>
                        </a>
                    </div>
                    <div class="topbar-txt">
                        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                            <i class="fas fa-th-large"></i>
                        </a>
                    </div>
                </div>                
            </td>
        </tr>
    </tbody>
</table>

<!-- /.navbar -->